* / {
    box-sizing: border-box;
    
} 
/* css for the header of the page */
#flexheader{
    display:flex;
    /* outline:1px solid red; */
    
}
header,h1 {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: xx-large;
    display: block;
    /* outline:1px solid red;  */
}

 .imgheader {
    width: 100px;
    height: 100px;
    margin-right: 100px;
    /* border: 5px solid rgb(0, 0, 0); */
} 

.navli {
    display:inline;
    padding:0px 20px;
    position: relative;
    top: 25px;
    left: 50px;
    outline: 5px solid grey; 

} 

 .text-right{
    text-align: right;
}

/* css for the about me section of the page */

 #container {
    display:flex;
    flex-direction: column;
    max-width: 600px;
    margin: 40px auto 0 auto;
    /* outline:1px solid red;  */
 }

  section {
    padding:20px;
    margin-bottom: 20px;
    outline:1px solid red; 
 }

 h2 {
    text-align: center
 }

 .imgsection { 
    width: 250px;
    height: 200px;
 }

body{
    background-color: lightgray;
}